---
import data from "../../data/info";
import Main from "../../layout/main.astro";
import Base from "../../layout/base.astro";
import type { Project } from "../../utils/types";
export const prerender = true;
export const getStaticPaths = () => {
    const path = data.projects.map((project) => {
        return {
            params: { project: project.name },
            props: {
                project,
            },
        };
    });

    return path;
};

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { name, description, end, image, links, technology_used } = project;
import { TiChevronLeft } from "react-icons/ti";
import Meta from "../../components/meta.astro";
import { Image } from "astro:assets";
---

<Base>
    <slot name="head">
        <Meta currentPage={"Projects | " + name} />
    </slot>
    <Main>
        <div
            class="lg:w-1/2 lg:px-0 px-4 z-50 flex flex-col items-start justify-start gap-6 py-8"
        >
            <div class="w-full flex flex-col gap-2">
                <div class="flex items-center gap-2 py-1">
                    <a href="/projects"><TiChevronLeft size={20} /> </a>
                    <h1 class="text-2xl capitalize font-bold">{name}</h1>
                </div>
                <div
                    class="flex lg:flex-row flex-col items-start gap-2 justify-between"
                >
                    <div class="flex gap-2">
                        {
                            links.live && (
                                <a
                                    target="_blank"
                                    class="underline"
                                    href={links.live}
                                >
                                    Live
                                </a>
                            )
                        }
                        {
                            links.source && (
                                <a
                                    target="_blank"
                                    class="underline"
                                    href={links.source}
                                >
                                    Source Code
                                </a>
                            )
                        }
                    </div>
                    <span>Last Modified: {end}</span>
                </div>
            </div>

            <div class="w-full shadow-md overflow-hidden rounded-md">
                <Image
                    src={image
                        ? image
                        : "/assets/images/no-picture-available-placeholder-thumbnail.webp"}
                    alt={name}
                    width={100}
                    height={100}
                    loading="eager"
                    class="object-cover h-full w-full rounded-md"
                />
            </div>

            <div class="leading-8">
                {
                    description.map((item) => {
                        return <p>{item}</p>;
                    })
                }
            </div>
            <div class="flex flex-wrap gap-1">
                {
                    technology_used.map((tech) => {
                        return (
                            <span class="bg-black text-white  text-xs rounded-full px-3 py-1">
                                {tech}
                            </span>
                        );
                    })
                }
            </div>
        </div>
    </Main>
</Base>
